html {
	height:100%;
}
body {
	padding:20px;
	margin:0;
	box-sizing:border-box;
	min-height:100%;
	box-sizing:border-box;

	@media screen and (min-width: 768px) {
		border:10px solid $pink;
	}
}
img {
	max-width:100%;
	height:auto;
}

.site-main {
	width:$container-width;
	max-width:100%;
	margin:0 auto;
	position:relative;
	@include clearfix;
}
.boxes {
	display:flex;
	min-height:75vh;
	margin-bottom:25px;
	@media screen and (max-width:768px) {
		display: block;
		.box,.column {
			display: block;
		}
	}
}
.column {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.box {
	flex:1;
	display: inline-flex;
	flex-direction: column;
	color:#FFF;
	text-decoration:none;
	background-size:cover;
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	transition:.3s;
	text-align:center;
	justify-content: center;
	&:hover {
		opacity: .7;
	}
	&.box-3 {
		flex:2;
	}
	.fa {
		font-size:32px;
	}
	h2 {
		margin:0;
		letter-spacing: 1px;
	}
}
.posts {
	display: flex;
	flex-wrap: wrap;
	.home & {
		display: block;
		.post {
			width:700px;
			max-width: 100%;
			margin:0 auto;
			img {
				
			}
		}
	}
	@media screen and (max-width:768px) {
		display: block;
		.post {
			width:100%;
		}
	}
	.post {
		width: 50%;
		padding:0 15px;
		box-sizing:border-box;
		max-height: 300px;
		overflow: hidden;
		text-align: center;
		margin-bottom:15px;
		@media screen and (max-width:768px) {
			width:100%;
		}
		img {
			max-width: 700px;
		}

		.img-holder {
			height:300px;
			overflow: hidden;
			margin-bottom: 0;
			background:$pink;
		}
		.post-content {
			transform:translateY(0);
			transition:.2s ease-out;
		}
		&:hover {
			.post-content {
				transform: translateY(-300px);
			}
		}
		.read-more {
			height:300px;
			color:#FFF !important;
			text-decoration: none;
			display: block;
			cursor: pointer;
			background:$pink;
			h2 {
				top:50%;
				transform:translateY(-50%);
				position:relative;
			}
		}
	}
}

.pagination {
	text-align:center;
}

.border {
	border:2px solid #000;
}

.single-post,.page:not(.home) {
	.site-main {
		width:700px;
	}
}

.cat-header {
	padding:15px;
	margin-bottom:15px;
}