.wp-caption {
	display:block;
}
.wp-caption-text {
	display:block;
}
.sticky {
	display:block;
}
.screen-reader-text {
	display:none;
}
.gallery-caption {
	display:block;
}
.bypostauthor {
	display:block;
}
.alignright {
	display:block;
	float:right;
}
.alignleft {
	display:block;
	float:left;
}
.aligncenter {
	margin:0 auto;
	display:block;
}