.wp-caption {
	font-weight:900;
}
.wp-caption-text {
	font-weight:900;
}
.sticky {
	font-weight:900;
}
.screen-reader-text {
	font-weight:900;
}
.gallery-caption {
	font-weight:900;
}
.bypostauthor {
	font-weight:900;
}
.alignright {
	font-weight:900;
}
.alignleft {
	font-weight:900;
}
.aligncenter {
	font-weight:900;
}